.mainContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 116px;
    justify-content: center;
    height: 868px;
    width: 550px;
    background-color: #23252c;
    box-sizing: border-box
}

.body {
    position: relative;
    background-color: #1A1B21;
    width: 317px;
    height: 430px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}