.mainContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 44px 116px;
    justify-content: center;
    height: 868px;
    width: 550px;
    background-color: #23252c;
    box-sizing: border-box
}

.body {
    background-color: #1A1B21;
    width: 317px;
    height: 399px;
    text-align: center;
}